<nav class="sidebar">
    <a routerLink="/home" [ngClass]="{'active': isHomeSelected}" class="section"
        (click)="toggleSubMenu('home')">
        <div class="menu-item">
            <mat-icon class="icon-white">home</mat-icon>
            Accueil
        </div>
    </a>
    <a routerLink="/generator" [ngClass]="{'active': isGeneratorSelected}" class="section"
    (click)="toggleSubMenu('generator')" *ngIf="isAuthenticated()">
        <div class="menu-item">
            <mat-icon class="icon-white">build</mat-icon>
            Générateur de mots de passe
        </div>
    </a>
    <a [ngClass]="{'active': isAccountSelected}" class="section"
    (click)="toggleSubMenu('account')" *ngIf="isAuthenticated()">
        <div class="menu-item">
            <mat-icon class="icon-white">account_circle</mat-icon>
            Mon compte
        </div>
        <ul class="sub-tabs" *ngIf="showAccountSubTabs">
            <li><a routerLink="/account">Mon profil</a></li>
            <li><a (click)="confirmLogout()">Déconnexion</a></li>
        </ul>
    </a>
</nav>