<h1>S'incrire</h1>

<div class="form">
    <form>
        <div class="form-group">
            <label for="name" >Nom :</label>
            <input type="text" name="name" [(ngModel)]="user.name" required>
        </div>

        <div class="form-group">
            <label for="mail">Adresse mail :</label>
            <input type="text" name="mail" [(ngModel)]="user.mail" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" [(ngModel)]="user.pass">
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirmer le mot de passe :</label>
            <input type="password" name="confirm_password" [(ngModel)]="confirmPassword">
        </div>

        <div class="button" type="submit" (click)="onSubmit()">
            <p>Créer mon compte</p>
        </div>
    </form>
</div>