<div class="header">
    <div class="group-message" (click)="addFriend()">
        Ajouter un ami
    </div>
    <div class="search">
        <input type="text" id="search" name="search" placeholder="Chercher un ami" [(ngModel)]="search"
            (keyup)="searchFriends()">
    </div>
</div>

<div class="scrollable-list">
    <div *ngIf="friends.length === 0" class="no-friends">
        <p>Aucun ami</p>
    </div>
    <div class="friend-item" *ngFor="let friend of friends" (click)="openMessages(friend)" [ngStyle]="{'border-left': '10px solid ' + friend.color}">
        <p>{{ friend.firstName }}</p>
    </div>
</div>