.content {
    display: flex;
    width: 100%;
    height: 100%;

    .title {
        width: 70%;
        height: 100%;
        background-color: #111;
        padding-right: 5%;
        text-align: right;
        display: flex;
        flex-direction: column;

        .big {
            width: 100%;
            margin-top: 30%;
            color: #408812;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            font-family: "Rajdhani", sans-serif;
            font-stretch: extra-condensed;
        }

        .small {
            color: white;
            font-size: 1rem;
            font-family: "Rajdhani", sans-serif;
            margin-top: 5%;
        }
    }

    .validate {
        width: 30%;
        background-color: #333;

        .form {
            width: 100%;
            height: 90%;
            text-align: left;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .form-group {
                margin-left: 10%;
                width: 80%;
                display: flex;
                flex-direction: column;
                margin-bottom: 5%;

                label {
                    width: 100%;
                    text-align: left;
                    margin-bottom: 2%;
                }

                input {
                    background-color: #111;
                    padding: 0.5rem;
                    color: white;
                    border: 1px solid #111;
                    border-radius: 5px;
                }
            }

            .button {
                margin-bottom: 5%;
                margin-left: 30%;
                width: 40%;
                margin-top: 5%;
                height: 5vh;
                padding: 10px;
                text-align: center;
                cursor: pointer;
                color: white;
                border-radius: 5px;
                background: #111;
                line-height: 5vh;
                font-weight: bold;
                transition: 0.3s;
            }

            .button:hover {
                width: 60%;
                margin-left: 20%;
                background-color: white;
                color: black;
                transition: 0.3s;
            }
        }
    }
}
