.header {
    margin: 2%;
    width: 96%;
    margin-bottom: 10%;

    .search {
        width: 100%;
        margin-top: 2%;

        input {
            background-color: #111;
            border: 1px solid #111;
            border-radius: 5px;
            color: white;
            padding: 0.5rem;
            width: 100%;
        }
    }

    .group-message {
        display: flex;
        background-color: #111;
        border-radius: 5px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        color: white;
    }
    
    .group-message:hover {
        background-color: white;
        color: black;
    }
}

.group-message {
    display: flex;
    margin: 2%;
    background-color: #111;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.group-message:hover {
    background-color: white;
    color: black;
}

.scrollable-list {
    max-height: 88%;
    overflow-y: auto;
    margin: 2%;
    background-color: #222;
    border-radius: 5px;

    .no-rooms {
        text-align: center;
        color: white;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #111;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    .rooms-item {
        display: flex;
        margin: 2%;
        background-color: #111;
        border-radius: 5px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;

        p {
            color: white;
        }
    }

    .friend-item:hover {
        background-color: white;
        transition: 0.3s;

        p {
            color: black;
        }
    }
}