<h1>{{ room.name }}</h1>

<div *ngIf="userListVisible" class="user-list-popup" (click)="closeUserList($event)">
    <div class="user-list-content" [ngClass]="{'closing': !userListVisible, 'opening': userListVisible}">
        <h2>Membres du groupe</h2>
        <div class="user-list">
            <div class="user" *ngFor="let user of room?.users">{{ user.firstName }} {{ user.lastName }} 
                <div *ngIf="isUserConnected(user)"> (En ligne)</div>
                <div *ngIf="user.id === connectedUserId"> (Vous)</div>
            </div>
        </div>
    </div>
</div>

<div class="messages-container">
    <div class="header" [matTooltip]="'Voir les membres'" (click)="openUserList()">
        <div class="header-infos">{{ room.users?.length }} utilisateurs</div>
    </div>
    <div class="chat">
        <div *ngFor="let message of messages"
            [ngClass]="{'right': message.sender && message.sender.id === connectedUserId, 'left': message.sender && message.sender.id !== connectedUserId, 'center': !message.sender}">
            <div class="chat-header">
                {{ message.sender?.firstName }} · {{ message.timestamp | date:'HH:MM' }}
            </div>
            <div class="content">
                {{ message.content }}
            </div>
        </div>
    </div>

    <div class="message">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" class="message-form">
            <input id="msg" [(ngModel)]="message" placeholder="Saisissez votre message ici" name="content" ngModel
                required autocomplete="off" />
            <div class="send">
                <mat-icon>send</mat-icon>
            </div>
        </form>
    </div>

</div>