<h1>Messages</h1>

<div class="messages-container">
    <div class="friend" [ngClass]="{'expanded': isMenuOpen}">
        <div class="friend-infos" [matTooltip]="'Voir le profil'">{{ friend.firstName }} {{ friend.lastName }}</div>
        <div *ngIf="isMenuOpen" class="menu">
            <div class="option" [matTooltip]="'Supprimer la conversation'">
                <mat-icon>delete_outline</mat-icon>
            </div>
            <div class="option" [matTooltip]="'Epingler la conversation'">
                <mat-icon>bookmark_border</mat-icon>
            </div>
            <div class="option" [matTooltip]="'Supprimer cet ami'" (click)="deleteFriend()">
                <mat-icon>delete_forever</mat-icon>
            </div>
            <div class="option" [matTooltip]="'Bloquer cet ami'">
                <mat-icon>block</mat-icon>
            </div>
        </div>
        <div class="details" (click)="isMenuOpen = !isMenuOpen">
            <mat-icon>dehaze</mat-icon>
        </div>
    </div>

    <div class="chat">
        <div class="message-container">
            
        </div>
    </div>

    <div class="message">
        <form #messageForm="ngForm" (ngSubmit)="onSubmit()" class="message-form">
            <input id="msg" [(ngModel)]="content" placeholder="Saisissez votre message ici" name="content" ngModel
                required />
            <div class="send">
                <mat-icon>send</mat-icon>
            </div>
        </form>
    </div>

</div>