<h1>Messages</h1>

<div class="messages-container">
    <div class="friend">
        {{ friend.firstName }} {{ friend.lastName }}
        <div class="details">
            <mat-icon>dehaze</mat-icon>
        </div>
    </div>

    <div class="chat">
        <div class="message-container">
            <div *ngFor="let message of allMessages" class="message">
                <div class="content">
                    {{ message.content }}
                </div>
                <div class="timestamp">
                    {{ message.timestamp | date:'HH:mm' }}
                </div>
            </div>
        </div>
    </div>

    <div class="message">
        <form #messageForm="ngForm" (ngSubmit)="onSubmit()" class="message-form">
            <input id="msg" [(ngModel)]="content" placeholder="Saisissez votre message ici" name="content" ngModel
                required />
            <div class="send">
                <mat-icon>send</mat-icon>
            </div>
        </form>
    </div>

</div>