<h1>Accueil</h1>
<div class="buttons" *ngIf="!isAuthenticated()">
    <div class="section" (click)="login()">
        <div class="text">
            <p>Vous avez déjà un compte ?</p>
        </div>
        <div class="button">
            <p>Se connecter</p>
        </div>
    </div>
    <div class="section" (click)="register()">
        <div class="text">
            <p>Vous n'avez pas de compte ?</p>
        </div>
        <div class="button">
            <p>S'inscrire</p>
        </div>
    </div>
</div>

<div class="buttons" *ngIf="isAuthenticated()">
    <h1>BIENVENUE</h1>
</div>