h1 {
    color: white;
    padding: 2%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15%;

    .section {
        width: 20%;
        margin: 3%;
        text-align: center;

        .button {
            height: 5vh;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            color: white;
            background: #111;
            border-radius: 5px;
            line-height: 5vh;
            font-weight: bold;
            transition: 0.3s;
        }

        .button:hover {
            background-color: white;
            color: black;
            transition: 0.3s;
        }

        .text {
            color: white;
        }
    }
}