<h1>Générateur de mots de passe</h1>

<div class="generator-form">

    <div class="params">
        <div class="length-div">
            <label for="passwordLength">Longueur :</label>
            <input type="number" id="passwordLength" [(ngModel)]="passwordLength" />
        </div>

        <div class="characters-div">
            <label>Caractères :</label>
            <div class="checkbox-group">
                <div class="checkbox" (click)="changeParams('lowerCase')"  [ngClass]="{'active': includeLowercase}">
                    a-z
                </div>
                <div class="checkbox" (click)="changeParams('upperCase')" [ngClass]="{'active': includeUppercase}">
                    A-Z
                </div>
                <div class="checkbox" (click)="changeParams('numbers')" [ngClass]="{'active': includeNumbers}">
                    0-9
                </div>
                <div class="checkbox" (click)="changeParams('specialCharacters')" [ngClass]="{'active': includeSpecialCharacters}">
                    !$%&@/+-
                </div>
            </div>
        </div>


        <div class="buttons">
            <div class="button" type="submit" (click)="generatePassword()">
                <p>Générer</p>
            </div>
            <div class="button" type="submit" (click)="copyToClipboard()">
                <p>Copier</p>
            </div>
        </div>
    </div>

    <div class="generated-password" *ngIf="generatedPassword">
        <p>{{ generatedPassword }}</p>
    </div>

</div>