h1 {
    color: white;
    padding: 2%;
}

p {
    color: white;
}

.chest-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.chest-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}