<h1 class="title">Mon profil</h1>
<div class="user-profile" [ngClass]="{'expanded': isExpanded}">
    <div class="header">
        <div class="profile-picture" [matTooltip]="'Modifier la photo de profil'">
            <div class="default-profile-picture">
                <mat-icon class="icon-white">add</mat-icon>
            </div>
        </div>

        <div class="user-details">
            <div class="user-name">
                <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            </div>

            <div class="user-email">
                <p>{{ user.mail }}</p>
            </div>
        </div>

        <div class="button" (click)="showForm()">
            <p>Modifier le mot de passe</p>
        </div>
    </div>

    <div class="footer">
        <div class="form">
            <form>
                <div class="form-group">
                    <label for="oldPassword">Mot de passe actuel :</label>
                    <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required>
                </div>

                <div class="form-group">
                    <label for="newPassword">Nouveau mot de passe :</label>
                    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
                </div>

                <div class="form-group">
                    <label for="confirmNewPassword">Confirmez le mot de passe :</label>
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                        [(ngModel)]="confirmNewPassword" required>
                </div>

                <div class="button" (click)="onSubmit()">
                    <mat-icon>check</mat-icon>
                </div>
            </form>
        </div>
    </div>
</div>