<div class="form">
    <form>
        <div class="form-group">
            <div [matTooltip]="'Modifier la photo de profil'" class="default-profile-picture">

            </div>
        </div>


        <div class="form-group">
            <label for="firstName">Prénom :</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Nom :</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName">
        </div>

        <div class="form-group">
            <label for="mail">Adresse mail :</label>
            <input type="text" id="mail" name="mail" [(ngModel)]="user.mail">
        </div>

        <div class="button" (click)="modifyPassword()">
            <p>Modifier le mot de passe</p>
        </div>
    </form>
</div>