h1 {
    color: white;
    padding: 2%;
}

.friends-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    height: 80%;
    margin-left: 2%;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    table {
        width: 80%;
        height: 80%;
        border-collapse: collapse;
        text-align: center;
        background: #111;
        border-radius: 10px;

        th,
        td {
            border: 2px solid black;
            padding: 8px;
        }

        th:first-child,
        td:first-child {
            border-left: none;
        }

        th:last-child,
        td:last-child {
            border-right: none;
        }

        tr:first-child th {
            border-top: none;
        }

        tr:last-child td {
            border-bottom: none;
        }
        
        tr {
            color: white;

            td {
                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    .button {
                        width: 20%;
                        padding: 10px;
                        text-align: center;
                        cursor: pointer;
                        color: white;
                        border-radius: 5px;
                        background: #111;
                        font-weight: bold;
                        transition: 0.3s;
                    }
        
                    .button:hover {
                        background-color: white;
                        color: black;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}