<h1>Se connecter</h1>

<div class="form">
    <form>
        <div class="form-group">
            <label for="mail">Adresse mail :</label>
            <input type="text" name="mail" [(ngModel)]="user.mail" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" [(ngModel)]="user.pass" required>
        </div>

        <div class="button" (click)="onSubmit()">
            <p>Se connecter</p>
        </div>
    </form>
</div>