<div class="content">
    <div class="title">
        <p class="big">Bienvenue sur PassMaster</p>
        <p class="small">Le gestionnaire de mots de passe le plus sécurisé du monde</p>
    </div>
    <div class="login">
        <div class="form">
            <form>
                <div class="form-group">
                    <label for="mail">Adresse mail :</label>
                    <input type="text" name="mail" [(ngModel)]="user.mail" required>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" [(ngModel)]="user.pass" required>
                </div>

                <div class="button" (click)="onSubmit()">
                    <p>Se connecter</p>
                </div>
            </form>
        </div>
        <div class="label">
            <p (click)="goToRegisterPage()">Pas encore de compte ? Inscrivez-vous</p>
            <p (click)="goToResetPasswordPage()">Mot de passe oublié ?</p>
        </div>
    </div>
</div>