h1 {
    color: white;
    padding: 2%;
}

.form {
    margin-top: 10%;
    width: 60%;
    text-align: left;
    margin-left: 20%;
    border: 2px solid white;
    border-radius: 20px;
    color: white;

    .form-group {
        margin-left: 5%;
        margin-top: 5%;
        display: flex;
        align-items: center;
    }

    .form-group label {
        flex: 1;
        margin-right: 10px;
        text-align: left;
    }

    .hoverable-label:hover {
        font-weight: bold;
        cursor: pointer;
    }


    input[type="text"],
    input[type="password"] {
        flex: 2;
        margin-right: 5%;
        background-color: #111;
        color: white;
        padding: 0.5rem;
        border: 1px solid #111;
        border-radius: 5px;
    }

    .button {
        margin-bottom: 5%;
        margin-left: 35%;
        width: 30%;
        margin-top: 5%;
        height: 5vh;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        color: white;
        border-radius: 5px;
        background: #111;
        line-height: 5vh;
        font-weight: bold;
        transition: 0.3s;
    }

    .button:hover {
        width: 50%;
        margin-left: 25%;
        background-color: white;
        color: black;
        transition: 0.3s;
    }
}