<div class="container" *ngIf="isAuthenticated()">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="down">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="list">
      <div class="header">
        <div class="friends" (click)="showFriendsList()" [ngClass]="{'friends-active': friendsList}">
          Amis
        </div>
        <div class="groups" (click)="showGroupsList()" [ngClass]="{'groups-active': groupsList}">
          Groupes
        </div>
      </div>
      <app-friends-list *ngIf="friendsList"></app-friends-list>
      <app-groups-list *ngIf="groupsList"></app-groups-list>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isAuthenticated()">
  <router-outlet></router-outlet>
</div>