.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 5px;
    height: 100%;

    .title {
        width: 20%;
        display: flex;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
        }

        h4 {
            font-size: 20px;
        }
    }

    .user {
        margin-right: 2%;
        font-size: 20px;
        padding: 0.5rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}