<h1>Messages</h1>

<div class="messages-container">
    <div class="friend">
        {{ friend.firstName }} {{ friend.lastName }}
        <div class="details">
            <mat-icon>dehaze</mat-icon>
        </div>
    </div>

    <div class="chat">
        <div class="message-container">
            <div *ngFor="let sentMessage of sentMessages" [ngClass]="{'right': sentMessage.sender === connectedUserId}">
                {{ sentMessage.content }}
            </div>
        </div>
    </div>

    <div class="message">
        <input id="msg" [(ngModel)]="content" placeholder="Saisissez votre message ici" />
        <div class="send" (click)="onSubmit()">
            <mat-icon>send</mat-icon>
        </div>
    </div>
</div>