<div class="form">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title" (click)="copyField('title')" class="hoverable-label" [matTooltip]="'Copier le nom'">Nom :</label>
            <input type="text" id="title" name="title" [(ngModel)]="chest.name" required>
        </div>

        <div class="form-group">
            <label for="description" (click)="copyField('description')" class="hoverable-label" [matTooltip]="'Copier la description'">Description :</label>
            <textarea id="description" name="description" [(ngModel)]="chest.description"></textarea>
        </div>

        <div class="form-group">
            <label for="username" (click)="copyField('username')" class="hoverable-label" [matTooltip]="'Copier le nom d\'utilisateur'">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" [(ngModel)]="chest.username" required>
        </div>

        <div class="form-group">
            <label for="password" (click)="copyField('password')" class="hoverable-label" [matTooltip]="'Copier le mot de passe'">Mot de passe :</label>
            <input type="password" id="password" name="password" [(ngModel)]="chest.password" required>
        </div>

        <div class="form-group">
            <label for="link" (click)="copyField('link')" class="hoverable-label" [matTooltip]="'Copier le lien'">Lien :</label>
            <input type="text" id="link" name="link" [(ngModel)]="chest.link">
        </div>

        <div class="button">
            <button type="submit">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </form>
</div>
