<div class="content">
    <div class="title">
        <p class="big">Bienvenue sur PassMaster</p>
        <p class="small">Le gestionnaire de mots de passe le plus sécurisé du monde</p>
    </div>
    <div class="login">
        <div class="form">
            <form>
                <div class="form-group" *ngIf="!showResetForm">
                    <label for="mail">Adresse mail :</label>
                    <input type="text" name="mail" [(ngModel)]="userMail" required>
                </div>

                <div class="button" (click)="sendCode()" *ngIf="!showResetForm">
                    <p>Envoyer un code</p>
                </div>

                <div class="form-group" *ngIf="showResetForm">
                    <label for="code">Code :</label>
                    <input type="text" name="code" [(ngModel)]="userCode" required>
                </div>

                <div class="form-group" *ngIf="showResetForm">
                    <label for="pass">Nouveau mot de passe :</label>
                    <input type="password" name="pass" [(ngModel)]="newPass" required>
                </div>

                <div class="form-group" *ngIf="showResetForm">
                    <label for="confirmPass">Confirmer le nouveau mot de passe :</label>
                    <input type="password" name="confirmPass" [(ngModel)]="confirmNewPass" required>
                </div>

                <div class="button" (click)="onSubmit()" *ngIf="showResetForm">
                    <p>Réinitialiser le mot de passe</p>
                </div>
            </form>
        </div>
        <div class="label">
            <p (click)="goToLoginPage()">Retour</p>
        </div>
    </div>
</div>